body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url("background/Screenshot (3).png");
  background-size: cover;
}

h2 {
  font-size: 19px;
  position: relative;
  top: 38px;
  color: #8BA5B9;
  text-align: left;
}

.sub-menu {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.sub-menu a {
  font-size: 16px;
  min-width: 90px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  border-radius: 15px;
  text-decoration: none;
  transition: all .5s;
}

.sub-menu-nav {
  overflow: hidden;
}

.sub-menu-nav .nav-btn {
  cursor: pointer;
  min-width: 120px;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  transition: all .5s;
}

.sub-menu a:hover, .sub-menu-nav:hover .nav-btn {
  background-color: #2C3E50;
  border-radius: 15px;
}

.roboto-condensed-p {
  font-family: "Roboto Condensed", sans-serif;
  color: #7D7D7D;
  font-size: 15px;
  position: relative;
  top: -500px;
  left: 46px;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* Mobile Styles */
@media screen and (max-width: 600px) {
  .hamburger-menu {
    display: block;
  }

  .sub-menu {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    text-align: center;
  }

  .sub-menu.active {
    display: flex;
  }

  .sub-menu-nav {
    text-align: center;
    width: 100%;
  }

  .nav-btn {
    width: 100%;
  }

  .roboto-condensed-p {
    font-size: 12px;
    left: 20px;
    top: -480px;
  }

  .container {
    left: 0;
    padding: 20px;
    width: 100%;
  }
}
